#calculator {
  position: relative;
  margin: 10px auto auto auto;
  padding-bottom: 1px;
  background-color: black;
  width: 350px;
  height: 365px;
  border-style: solid;
  border-width: 2px;
  }

#display {
  position: relative;
  background-color: gray;
  height: 50px;
}

#display-top-text {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
}

#display-bottom-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px
}

.btn { 
  background-color: white;
  margin: 15px 0px 6px 0px;
}

#clear {
  background-color: #912F40;
}

#clear:hover {
  background-color: red;
  color: white;
}

#equals {
  background-color: #5A65A7
}

#equals:hover {
  background-color: #496DDB;
  color: white;
}

#credit {
  text-align: right;
  color: white;
  font-size: 0.9em;
  font-family: 'Roboto Slab', serif;
}

#credit a {
  color: white;
  text-decoration: none;
  font-weight: 750
}